**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
*.db
*.log
Companion.Web/.next/
Companion.Web/node_modules/
Companion.Web/out/
Companion.Web/tsconfig.tsbuildinfo
Companion.Mobile/.expo/
Companion.Mobile/node_modules/
Companion.Mobile/tsconfig.tsbuildinfo
